body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e2e1e0;
}
*{box-sizing: border-box;}

/* Top navigation bar */
.topnav {
    background-color: black;
    overflow: hidden;
    border-bottom: 1px solid ivory;
    border-color: #ddd;
}
.topnav a {
    float: left;
    text-align: center;
    font-size: 19px;
    padding: 15px 15px;
    /* text-decoration: none; */
}
/* .topnav a:hover {
    color: black;
    background-color: #ddd;
} */

.topnav a.active:hover {
    color: black;
    background-color: whitesmoke;
    /* border-right: 1px solid whitesmoke; */
}
.topnav a.active {
     color: ivory;
}

/* Main Title on a page */
.title {
    color: black;
    padding: 55px 0px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 100%;
    /* Form outline */
    /* padding: 1em; */
    /* border: 2px solid #CCC; */
    border-radius: 0.3em;
    /* box-shadow: 1px 1px 3px 1px #888888; */
}

.form-part {
    background-color: #4ca1af;
    padding: 20px 20px;
    border-radius: 0.3em;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}
.form-part:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.subtitle {
    color: black;
    /* margin-top: 10px; */
    padding-bottom: 5px;
    text-align: left;
    font-size: 1.5rem;
    text-transform: capitalize;
}
/* Style the form - display items horizontally */
.form-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
/* Add margins for each label */
.form-row label {
    margin: 5px 0px 5px 0px;
    padding-left: 5px;
    font-size: 19px;
    color: ivory; 
    font-weight: bold;
    width: 40%;
}
.label-right-column {
    width: 60%;
    /* padding-left: 5px;
    padding-right: 5px; */
}
/* Style the input fields */
.form-row input {
    vertical-align: middle;
    margin: 5px 0px 5px 0;
    padding: 2.5px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
    padding-left: 5px;
}

.label-right-column select {
   margin-bottom: -10px;
}
.form-select-field {
    vertical-align: middle;
    margin: 5px 0px 5px 0;
    padding: 2.5px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
.label-right-column input {
    width: 100%;
}

/* Add responsiveness - display the form contrlos vertically 
instead of horiz on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form {
        width: 100%;
    }

    .form-part {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row {
        flex-direction: column;
        align-items: stretch;
    }
    .form-row label {
        width: 100%;
    }
    .form-row input {
        width: 100%;
    }
    /* .label-right-column select {
        width: 100%;
    }  */
    .label-right-column {
        width: 100%;
    }
}

/* .valid-feedback {
    width: 100%;
    margin-top: .25rem;
    padding-left: 5px;
    font-size: 70%;
    color: blue;
    overflow: hidden;
} */
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: .25rem;
    padding-left: 5px;
    font-size: 70%;
    color: red;
    overflow: hidden;
    /* transition: ease 50ms; */
}

input:invalid:required {
    border: 2px solid red;
}

/* Button "Oblicz" */
.primary-btn {
    text-align: center;
}
#count-btn {
    background-color: whitesmoke;
    border: 2px solid #555555;
    color: black;
    font-size: 19px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 15px;
    /* box-shadow: 0px 6px 4px #8b8b8b; */
    /* box-shadow: 0px 6px 0px rgb(199, 199, 199); */
}
#count-btn:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
#count-btn:active {
    transform: translateY(2px);
    /* box-shadow: 0px 2px 2px #8b8b8b; */
}

h4 {
    color: black;
    margin-top: 0;
    /* padding-bottom: 1px; */
    font-size: 1.2rem;
}
.graphic-results header{
    visibility: hidden;
    padding-top: 25px;
    margin-left: 20px;
}
/* Graphic results */
/* Chart */
#myChart {
    display: none;
}
/* Tło części Podsumowanie */
.form-part-summary {
    /* display: none; */
    visibility: hidden;
    background-color: #4ca1af;
    padding: 20px 20px;
    border-radius: 0.3em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
    box-shadow: 0 19px 30px rgba(0,0,0,0.30), 0 30px 30px rgba(0,0,0,0.22);

}
/* Tabela wyników */
.table-summary {
    width: 100%;
    overflow-x: scroll;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
/* Wiersze tabeli */
.table td, .table th {
    padding: .50rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
/* Tabela Podsumowanie - labels */
.summary-header {
    text-align: inherit;
    font-size: 18px;
}
/* Nagłówki tabeli Wyniki */
#result-table-summary th{
    text-align: center;
    font-size: 18px;
}
/* Wiersze tabeli Wyniki i wiersze tabeli Podsumowanie */
td {
    text-align: center;
    font-size: 18px;
}

tr:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Footer */
footer {
    /* display: block; */
    width: 100%;
    height: auto;
    text-align: center;
    font-style: oblique;
    padding: 1px 15px 30px 15px;
    /* background-image: linear-gradient(to right, #2193b0, #6dd5ed); */
    background-color: black;
    color: white;
    font-weight: bold;
    
    /* border-radius: 0.5em; */
    /* border: 1px solid #4ca1af; */
    /* box-shadow:inset 10px 10px 25px #43a4b3; */
    border-bottom: 1px solid darkgrey;
    border-top: 1px solid darkgrey;

}
