body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightslategray;
}
*{box-sizing: border-box;}

/* Top navigation bar */
.topnav {
    background-color: darkslategrey;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    font-size: 17px;
    padding: 15px 15px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
     background-color: darkgray;
     color: black;
}

/* Main Title on a page */
.title {
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 2.5rem;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    /* width: 60%; */
    width: 70%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

.form-part {
    background-color: grey;
    padding: 20px 20px;
    border-radius: 1em;
}

.subtitle {
    color: black;
    margin-top: 10px;
    padding-bottom: 1px;
    text-align: left;
    font-size: 1.5rem;
}
/* Style the form - display items horizontally */
.form-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
/* Add margins for each label */
.form-row label {
    margin: 5px 0px 5px 0;
    font-size: 19px;
    color: ivory; 
    font-weight: bold;
    width: 40%;
}
.label-right-column {
    width: 60%;
}
/* Style the input fields */
.form-row input {
    vertical-align: middle;
    margin: 5px 0px 5px 0;
    padding: 2.5px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 60%;
}

.form-row-select-field {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.form-row-select-field label {
    margin: 5px 0px 5px 0;
    font-size: 19px;
    color: ivory; 
    font-weight: bold;
    width: 40%;
}
.form-row-select-field select {
    vertical-align: middle;
    margin: 5px 0px 5px 0;
    padding: 2.5px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}
.label-right-column input {
    width: 100%;
}

/* Add responsiveness - display the form contrlos vertically 
instead of horiz on screens that are less than 800px wide */
@media (max-width: 800px) {
    .form {
        width: 100%;
    }

    .form-part {
        flex-direction: column;
        align-items: stretch;
    }

    .form-row label {
        margin: 5px 10px 5px 0;
        width: 100%;
    }
    .form-row input {
        margin: 0px 10px 0px 0;
        width: 100%;
    }
    .form-row {
        flex-direction: column;
        align-items: stretch;
    }
    .form-row-select-field {
        flex-direction: column;
        align-items: stretch;
    }
    .form-row-select-field label {
        margin: 5px 10px 5px 0;
        width: 100%;
    }
    .form-row-select-field select {
        margin: 0px 10px 0px 0;
        width: 100%;
    }
    .label-right-column {
        margin: 5px 10px 5px 0;
        width: 100%;
    }
}

.valid-feedback {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: red;
}
/* Button "Oblicz" */
.primary-btn {
    text-align: center;
}
#count-btn {
    background-color: #ddd;
    /* background-color: white; */
    /* border: 2px solid #e7e7e7; */
    border: 2px solid #555555;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 15px;
}
#count-btn:hover {
    /* background-color: #e7e7e7; */
    /* background-color: #555555; */
    cursor: pointer;
    background-color: black;
    color: white;
}
#count-btn:active {
    transform: translateY(2px);
}

h4 {
    color: black;
    margin-top: 0;
    /* padding-bottom: 1px; */
    font-size: 1.2rem;
}
.graphic-results header{
    margin: 0 auto;
    width: 88%;
}
/* Graphic results */
.graphic-results {
    padding-left: 10%;
    padding-right: 10%;
}
/* Chart */
#myChart {
    display: none;
    /* position:relative; 
    height: 400px; */
}
/* Tło części Podsumowanie */
.form-part-summary {
    background-color: grey;
    padding: 20px 20px;
    border-radius: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}
/* Tabela wyników */
.table-summary {
    width: 100%;
    overflow-x: scroll;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
/* Wiersze tabeli */
.table td, .table th {
    padding: .50rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}
/* Tabela Podsumowanie - labels */
.summary-header {
    text-align: inherit;
}
/* Nagłówki tabeli Wyniki i labels tabeli Podsumowanie */
th {
    text-align: center;
    font-size: 18px;
}
/* Wiersze tabeli Wyniki i wiersze tabeli Podsumowanie */
td {
    text-align: center;
    font-size: 18px;
}

/* .result-data {
    text-align: center;
} */

/* Footer */
footer {
    display: block;
    bottom: 10px;
    text-align: left;
    padding: 0 15px;
    background-color: darkgray;
    color: whitesmoke;
}
